#title{
    border-bottom: 6px double black;
    width: 100%;
    background-color: aquamarine;
    border-top: 6px double black;    
    text-align: center;
}
#header{
    padding : 10 0 10 0;   
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

#header button{
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;   
    width: 8%; 
    font-size: 1.2em;
}


#tafelsContent{
    width:100%;
    text-align:center;
    margin: 20px 0px 0px 0px;    
}

div.tafel{
  width: fit-content;

}
table.tafel {
    border-left: 1px solid black;    
    font-size: 2em;
    width: 7em;

}

table.tafel td {
    padding-right: 0.3em;
    text-align: right;
    padding-bottom: 5px;
    padding-top: 5px;
}

table.tafel td.tdeqr {
    width : 1em;
}

div.headerTafel{
    text-align: center;
}

div.headerTafel span{
    background-color: beige;
    border: 1px solid black;
    font-size: 2em;
    font-weight: bold;
    padding: 0 2% 0 2%
}

button.btnEraseResult{
    width: 7em;
    margin-top:5px;
    margin-left:40px;
    font-size: 1.5em;
}

div.tafelImage{
  display: inline-block;
  padding-top: 0.4em;
  margin-left: 50px;
}

div.bag .box{
    background-color : #6495ED;
    padding : 10 20 0 10;
    width : 1em;
    height : 1.2em;
    margin : 0 0.3em 0 0;
    display : inline-block;
    border-radius: 50%;
}

div.tafel .bag{
    border-color : black;
    display: flex;
}

table.tafel {
    font-size: 2em;
    border-left: 1px solid black;
}

table.tafel td.bottom{
    border-bottom: 1px solid black;
}

table.tafel td.top{
    border-top: 1px solid black;
}


table.tafel button{
    font-size: 1em;
}

td.tdButtondisplay{
    border-right: 1px solid black;
}

#tafels {
    display: inline;
}

#tafels tr {

}
td.tdImage {
    padding-left: 50px;
}
